#login_form_area{
  width: 372px;
  margin: 0 auto;
  top: -27px;
  position: relative;
}
.logo_box{
  display: flex;
  align-items: flex-end;
  width: 372px;
}

.logo_img_box{
  margin: 10px;
  width: 214px;
}

.logo_name_box{
  width: 100%;
}

.login_input{
  width: 300px;
  height: 28px;
  margin: 15.4px 0 10px;
  padding: 10px 10px 8px 60px;
  object-fit: contain;
  border-radius: 8px;
  border: solid 1px #707070;
  background-color: #ffffff;
  font-size: 15px;
}

#login_btn{
  background: #fff1a3;
  width: 372px;
  height: 48px;
  margin: 15.4px 0 0;
  border-radius: 8px;
  border: 0;
  color: #707070;
}

#login_btn:hover{
  background: #ffea71;
  box-shadow: 1px 1px #d9d9d9;
  font-weight: bolder;
  cursor: pointer;
}

.form_img{
  position: absolute;
  top: 33px;
  left: 25px;
  width: initial;
  height: 13px;
}

.form_box{
  position: relative;
}