<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.youth.api.mybatis.StatisticsMapper">

	<sql id="whereBetweenDate">
		1 = 1
		<if test='s.sd != null'>
			<![CDATA[AND R.START_TIME >= #{s.sd}]]>
		</if>
		<if test='s.ed != null'>
			<![CDATA[AND R.START_TIME <= #{s.ed}]]>
		</if>
		<!-- <if test='s.cId != null'>
			<![CDATA[AND R.CONTENTS_ID <= #{s.cId}]]>
		</if> -->
	</sql>

	<select id="findMostUsedMember" resultMap="mostUsedMemberMap">
		SELECT
			ACC.MEMBER_ID, MEMBER_NAME, ALL_COUNT, R.CONTENTS_ID, C.NAME AS CONTENTS_NAME, C.COLOR, COUNT(R.CONTENTS_ID) EACH_COUNT
		FROM
			(
			SELECT
				TOP 5 COUNT(M.MEMBER_ID) ALL_COUNT, M.MEMBER_ID, M.NAME AS MEMBER_NAME
			FROM
				RESERVATION R
			LEFT OUTER JOIN
				RESERVATION_MEMBER RM
			ON
				R.RESERVATION_ID = RM.RESERVATION_ID
			LEFT OUTER JOIN
				MEMBER M
			ON
				RM.MEMBER_ID = M.MEMBER_ID
			WHERE
				<include refid="whereBetweenDate"/>
				<if test='s.cId != null and s.cId != 0'>
					AND R.CONTENTS_ID = #{s.cId}
				</if>
				AND R.STATE = 0
			GROUP BY
				M.MEMBER_ID, M.NAME
			ORDER BY
				ALL_COUNT DESC
			) ACC
		LEFT OUTER JOIN
			RESERVATION_MEMBER RM
		ON
			RM.MEMBER_ID =ACC.MEMBER_ID
		LEFT OUTER JOIN
			RESERVATION R
		ON
			R.RESERVATION_ID = RM.RESERVATION_ID
		LEFT OUTER JOIN
			CONTENTS C
		ON
			R.CONTENTS_ID = C.CONTENTS_ID
		WHERE
			<include refid="whereBetweenDate"/>
			<if test='s.cId != null and s.cId != 0'>
				AND R.CONTENTS_ID = #{s.cId}
			</if>
			AND
				R.STATE = 0
		GROUP BY
			ACC.MEMBER_ID, ACC.MEMBER_NAME, R.CONTENTS_ID, C.NAME, C.COLOR, ACC.ALL_COUNT
		ORDER BY
			ACC.ALL_COUNT DESC, EACH_COUNT DESC, MEMBER_NAME
		<!-- SELECT
			TOP 5 COUNT(*) COUNT, M.MEMBER_ID, M.NAME
		FROM
			RESERVATION R
		LEFT OUTER JOIN
			RESERVATION_MEMBER RM
		ON
			R.RESERVATION_ID = RM.RESERVATION_ID
		LEFT OUTER JOIN
			MEMBER M
		ON
			RM.MEMBER_ID = M.MEMBER_ID
		WHERE
			<include refid="whereBetweenDate"/>
			<if test='s.cId != null and s.cId != 0'>
				AND CONTENTS_ID = #{s.cId}
			</if>
		GROUP BY
			M.MEMBER_ID, M.NAME
		ORDER BY
			COUNT DESC -->
	</select>
	
	
	<select id="findReservationAverageOfEachContents" resultType="java.util.HashMap">
		SELECT
			R.CONTENTS_ID, ROUND(AVG(CONVERT(FLOAT, R.USE_MINUTE)), 1) AVERAGE, C.NAME, C.COLOR
		FROM
			RESERVATION R
		LEFT OUTER JOIN
			CONTENTS C
		ON
				R.CONTENTS_ID = C.CONTENTS_ID
		WHERE
			<include refid="whereBetweenDate"/>
			AND
				R.DATA_STATE = 'A'
			AND
				R.STATE = 0
			AND
				C.DATA_STATE = 'A'
		GROUP BY
			R.CONTENTS_ID, C.NAME, C.COLOR
		ORDER BY
			AVERAGE DESC
	</select>
	
	
	<select id="findTotalUseTimeEachContents" resultType="java.util.HashMap">
		SELECT
			R.CONTENTS_ID, SUM(R.USE_MINUTE) TOTAL, C.NAME, C.COLOR
		FROM
			RESERVATION R
		LEFT OUTER JOIN
			CONTENTS C
		ON
			R.CONTENTS_ID = C.CONTENTS_ID
		WHERE
			<include refid="whereBetweenDate"/>
			AND
				R.DATA_STATE = 'A'
			AND
			R.STATE = 0
			AND
			C.DATA_STATE = 'A'
		GROUP BY
			R.CONTENTS_ID, C.NAME, C.COLOR
		ORDER BY
			TOTAL DESC
	</select>
	
	
	<select id="findUseCountEachContentsByMemberBirth" resultType="java.util.HashMap">
		SELECT
			Y.YEAR, Y.CONTENTS_ID, Y.COUNT, C.NAME
		FROM
			(
				SELECT
					LEFT(CONVERT(NVARCHAR(10), M.BIRTH), 4) YEAR, R.CONTENTS_ID, COUNT(CONTENTS_ID) COUNT
				FROM
					RESERVATION R
				LEFT OUTER JOIN
					RESERVATION_MEMBER RM
				ON
					R.RESERVATION_ID = RM.RESERVATION_ID
				LEFT OUTER JOIN
					MEMBER M
				ON
					RM.MEMBER_ID = M.MEMBER_ID
				WHERE
					<include refid="whereBetweenDate"/>
					AND 
					R.DATA_STATE = 'A'
					AND
					R.STATE = 0
				GROUP BY
					LEFT(CONVERT(NVARCHAR(10), M.BIRTH), 4), R.CONTENTS_ID
			) Y
			LEFT OUTER JOIN
				CONTENTS C
			ON
				Y.CONTENTS_ID  = C.CONTENTS_ID
			ORDER BY
				YEAR DESC, COUNT DESC
	</select>
	
	
	<resultMap type="org.youth.api.dto.statistics.MostUsedMemberDTO" id="mostUsedMemberMap">
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="allCount" column="ALL_COUNT"/>
		<collection property="contents" resultMap="mostUsedMemberContentsMap"></collection>
	</resultMap>
	
	
	<resultMap type="org.youth.api.dto.statistics.MostUsedMemberContentsDTO" id="mostUsedMemberContentsMap">
		<result property="contentsId" column="CONTENTS_ID"/>
		<result property="contentsName" column="CONTENTS_NAME"/>
		<result property="color" column="COLOR"/>
		<result property="eachCount" column="EACH_COUNT"/>
	</resultMap>
</mapper>
